.navbar-inverse {
	background-color: #0098AE;
}
.navbar-inverse .navbar-collapse {
    border-color: #0098AE;
}

.navbar-inverse .navbar-nav>li>a {
	color: #363636;
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: #0098AE;
	background-color: #00708C;
}

.navbar-inverse .navbar-nav>.active>a{
	color: #0098AE;
	background-color: #00708C;
}

.navbar-inverse .navbar-nav>.active>a:hover {
    color: #0098AE;
    background-color: #00708C;
}

.navbar-toggle{
	border:none;
	color: #363636;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #0098AE;
}
.navbar-inverse .navbar-toggle {
   border: none;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #363636;
}

.fa{
	padding-right: 5px;
}

@media (min-width: 768px){
.container {
    width: 1000px;
}
}