<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>

<object th:include="fragments/bootstrapHead :: bootstrapHead"
	th:remove="tag" />
<link rel="stylesheet" href="/resources/statics/css/list.css" />
</head>
<body>
	<div class="shift_list">
		<div th:replace="fragments/navBar :: header(allShifts)"></div>
		<h1 class="list_title" >Vaktalisti</h1>
		
		<form action="#" th:action="@{/shiftSearch}"
			 method="POST">
			<div class="list_search_wrapper">
				<label for="searchInput"> <i
					class="fa fa-search"></i></label> <input class="list_input"
					type="text" placeholder="Leit" name = "searchString"/> <input type="submit"
					class="list_button" value="Leita" />
			</div>
		</form>
		
		<form action="#" th:action="@{/shiftSort}" method="GET">
			<h3 class="list_subTitle">Raða eftir:</h3>
			<div class="list_shiftSortButtons_wrapper">
				<input type="submit" class="list_sort_button" th:classappend="${ activeSort== 'title'}? 'activeSort' : ''" value="Titli" name="Titli" />
				<input type="submit" class="list_sort_button" th:classappend="${activeSort== 'type'}? 'activeSort' : ''" value="Tegund" name="Tegund" />	 
				<input type="submit" class="list_sort_button" th:classappend="${ activeSort== 'date'}? 'activeSort' : ''" value="Dagsetningu" name="Dagsetningu" />	
				<input type="submit" class="list_sort_button" th:classappend="${activeSort== 'beginTime'}? 'activeSort' : ''" value="Upphafstíma" name="Upphafstíma" />	
			</div>			 
		</form>


		<table class="table">
			<thead class="list_thead">
				<tr>
					<th class="list_th" ><i
					class="	fa fa-id-badge"></i>Titill vaktar</th>
					<th class="list_th" ><i
					class="fa fa-briefcase"></i>Tegund vaktar</th>
					<th class="list_th" ><i
					class="fa fa-calendar"></i>Dagsetning</th>
					<th class="list_th" ><i
					class="fa fa-clock-o"></i>Upphafstími</th>
					<th class="list_th" ><i
					class="fa fa-clock-o"></i>Enda tími</th>
					<th class="list_th" ><i
					class="fa fa-users"></i>Fjöldi starfsmanna</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="shift: ${shifts}">
					<td th:text="${shift.title}" />
					<td th:text="${shift.type}" />
					<td th:text="${shift.date}" />
					<td th:text="${shift.beginTime}" />
					<td th:text="${shift.endTime}" />
					<td th:text="${shift.howMany}" />
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>