<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>

<object th:include="fragments/bootstrapHead :: bootstrapHead" th:remove="tag" />

<link rel="stylesheet" href="/resources/styles/confirmation.css" />
<div th:replace="fragments/navBar :: header(employeeRegistration)"></div>

</head>
<body>
	<h1>Takk fyrir skráninguna <span th:text="${employee.name}"/>.</h1>
	<h2>Skráðar upplýsingar</h2>
	<h3>Nafn: <span th:text="${employee.name}"/></h3>
	<h3>Fæðingardagur:<span th:text="${employee.date}"/></h3>
	<h3>Email: <span th:text="${employee.email}"/></h3>
	<h3>Starfstitill: <span th:text="${employee.type}"/></h3>
	<h3>Bolastærð: <span th:text="${employee.size}"/></h3>

</body>
</html>