<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>

<object th:include="fragments/bootstrapHead :: bootstrapHead"
	th:remove="tag" />
<link rel="stylesheet" href="/resources/statics/css/registration.css" />

</head>
<body>
	<div class="shiftAllocation_registration">
	<div th:replace="fragments/navBar :: header(shiftAllocation)"></div>
		<div class="registration_wrapper">
			<h1 class="registration_header">Úthlutun starfsmanns á vakt</h1>
			<div
				th:class="${#strings.isEmpty(errorMessage)} ? '' : 'registration_errormessage'">
				<span th:text="${errorMessage}" />
			</div>

			<form action="#" th:action="@{/shiftAllocationInfo}"
				th:object="${shiftAllocation}" method="POST">
				<div class="registration_input_wrapper">
					<label class="registration_icon" for="employeeId"> <i
						class="fa fa-user"></i></label> <input class="registration_input"
						type="text" placeholder="Starfsmannaauðkenni" th:field="*{empId}" />
					<div th:if="${#fields.hasErrors('empId')}" th:errors="*{empId}">Employee
						Id Error</div>
				</div>

				<div class="registration_input_wrapper">
					<label class="registration_icon" for="shiftId"> <i
						class="fa fa-briefcase"></i></label> <input class="registration_input"
						type="text" placeholder="Vaktaauðkenni" th:field="*{shiftId}" />
					<div th:if="${#fields.hasErrors('shiftId')}" th:errors="*{shiftId}">Shift
						Id Error</div>
				</div>

				<input type="submit" class="registration_button" value="Submit" />

			</form>

		</div>
	</div>
</body>
</html>
